<h2>About me</h2>

<div class="biography">

  <div>
    <%= image_tag "https://avatars.githubusercontent.com/u/141559562?v=4", class: 'biography-picture' %>
  </div>

  <div class="biography-text">
    <p>
    Belgian student with interests for technology and programmation. Freshly graduated from LeWagon's Web Development bootcamp, I am now seeking a career as a Junior Fullstack Developer. I am mainly interested in a job that that would offer me an opportunity to grow and learn among senior developers.
    <br>
    <br>
    I studied community management and marketing for a year, and while I unfortunately couldn't maintain all of the knowledge I've gained from that time, I am still familiar with some notions and concepts from that industry. I also did an internship of 2 months among a marketing team where I was able to use that knowledge.
    <br>
    <br>
    French being my first language, my english level is also pretty advanced (C1). Ever since my childhood I've had a liking for writing and reading stories of all kind, whether it be books, movies or video games. This yearning for storytelling made my skills as a writer natural, which I still try to maintain.
    </p>
  </div>

</div>

<div class="contact">
  <h2 style="margin-bottom: 40px;">Get in touch</h2>
  <div class="contact-info">
    <%= link_to ('<i class="fa-brands fa-linkedin-in"></i>').html_safe, 'https://www.linkedin.com/in/yassir-el-bakkali'%>
    <%= link_to ('<i class="fa-brands fa-github"></i>').html_safe, 'https://www.github.com/StrawRabbit'%>
  </div>
</div>
